config MTK_LCM
	bool CONFIG_MTK_LCM
	default n
	help
	  LCM driver

config CUSTOM_KERNEL_LCM
	string "CUSTOM_KERNEL_LCM"
	help
	  To choose kernel LCM driver name

config PANEL_BRIGHTNESS_SCALING
    bool CONFIG_PANEL_BRIGHTNESS_SCALING
    default n
    help
      Enables brightness scaling on a per panel basis.

config PANEL_BRIGHTNESS_SCALING_DEBUG
    depends on PANEL_BRIGHTNESS_SCALING
    bool CONFIG_PANEL_BRIGHTNESS_SCALING_DEBUG
    default n
    help
      Adds device files to debug brightness scaling
